.profile__edit-button {
  background-color: black;
  max-width: 24px;
  width: 100%;
  border: 1px solid white;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 650px) {
  .profile__edit-button {
    padding: 0;
    margin-left: 10px;
    max-width: 18px;
    height: 18px;
  }
}
