.photo-grid__trash {
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 18px;
  min-height: 19px;
  background-color: rgba(0, 0, 0, .2);
  color: white;
}

.photo-grid__trash:hover {
  cursor: pointer;
  opacity: 0.6;
}


